/*!
 * Start Bootstrap - Heroic Features (http://startbootstrap.com/template-overviews/heroic-features)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-heroic-features/blob/master/LICENSE)
 */


.card {
    height: 100%;
}


/* img {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
} */

/* .footer1 {
  background: #f8f8f8 url("../images/footer/footer-bg.png") repeat scroll left top;
  padding-top: 65px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #003;
} */



.title-widget {
  color: #898989;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  position: relative;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
  padding-left: 28px;
}



.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 10px;
    font-weight: 700;
    line-height: 20px;
  position: relative;
    text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
  width:95%;
}



.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
}

.footerp p {font-family: 'Gudea', sans-serif; }


#social:hover {
          -webkit-transform:scale(1.1); 
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
      }
      #social {
        -webkit-transform:scale(0.8);
                /* Browser Variations: */
-moz-transform:scale(0.8);
-o-transform:scale(0.8); 
-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
      }           
/* 
    Only Needed in Multi-Coloured Variation 
                                               */
      .social-fb:hover {
        color: #3B5998;
      }
      .social-tw:hover {
        color: #4099FF;
      }
      .social-gp:hover {
        color: #d34836;
      }
      .social-em:hover {
        color: #f39c12;
      }
      .nomargin { margin:0px; padding:0px;}



.footer-bottom {
    background-color: #15224f;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}

.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}

.placeholder {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('http://placehold.it/300x400');
}

.non-pdf {
  margin-top: 19px;
}

@media (min-width: 768px) {
  .navbar-form .form-control {
      width: 500px;
      margin-left: 70px;
  }
}

/* .col-xs-6, .cover{
  height: 400px;
} */

.carousel, .carousel-example{
  margin-top: 30px;
}

.carousel img {
    top: 0;
    left: 0;
    min-width: 100%;
    height: 550px;
    max-height: 550px;
    width: auto;
}


/* LOGO IMAGE */
.navbar-brand>img {
    display: block;
    margin-top: -11px;
}

